:root {
   --main-bg-color: rgb(45, 48, 53);
 }

* {
  box-sizing: border-box;
}


body {
   background-color: var(--main-bg-color);
   font-family: Arial, Helvetica, sans-serif;
}
main {
   width: 650px;
   margin: 0 auto;
   padding: 16px;
   background-color: white;
}

header {
   padding: 16px;
   text-align: center;
   background-color: blue;
   color: white;
   margin: 16px 0px;
   border-radius: 16px;
}

button {
   background-color: blue;
   border-radius: 8px;
   color: white;
}

#add {
margin: 0px 8px;
}

form {
   display: flex;
   flex-direction: row;
   margin-bottom: 50px;
}

input, button {
   padding: 8px;
}

input {
   width: 100%;
   background-color: lightgrey;
   border: none;
}

/* locking down the structure of your HTML. bad practice and problem for scalability. increase risk of breaking things */
label, span{
   display: block;
}

label {
   font-size: 16px;
}

span {
   margin: 8px 0px;
   font-size: 8px;
}
#recordsContainer div {
   padding: 24px;
   background-color: lightgrey;
   margin-bottom: 16px;
   border-radius: 16px;
   /* border: 1px solid gray; */
}

